<html ng-app="AppTaller">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacitación Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controller.js"></script>
</head>
<body ng-controller="primerController">
    <h1>Hola mundo!</h1>
    
    <h2 ng-bind="persona.nombre">{{persona.nombre}}</h2>
    <h2 ng-bind="persona.apellido">{{persona.apellido}}</h2>
    <button ng-click="presentate()">Has clic</button>
    <input type="text" ng-model="valorCambiado" ng-change="cambioText()">
    <input type="text" ng-model="name">
    <button ng-click="presentateNombre(name)">Presentando nombre</button>
    <br>
    <br>
    <label>{{fechaHoy | date: mediumTime}}</label>

    <form>
       <div>
            Ingresa un número
            <input type="number" ng-model="num1">
       </div>
        <div<br>
            Selecciona una operación
            <br>
            <select ng-model="operacion">
                <option value="suma">Suma</option>
                <option value="resta">Resta</option>
                <option value="multiplicacion">Multiplicación</option>
                <option value="division">División</option>
            <br></div>
        <div>
            Ingresa otro número
            <input type="number" ng-model="num2">
        </div>
    </form>
    <h3>El resultado es {{
        operacion == 'suma' ? num1 + num2 :
        operacion == 'resta' ? num1 - num2 :
        operacion == 'multiplicacion' ? num1 * num2 :
        operacion == 'division' ? num1 / num2 :
        'No se ha seleccionado una operación'
    }}</h3>

    <br>
    <br>
    <h1>{{dataResponse.name}}</h1>
    

</body>
</html>